* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

body {
    /* overflow-x: hidden; */
}
/* Navbar Stuff */
.navbar-brand {
    padding-left: 30px;
    padding-top: 15px;
    font-size: 35px;
}

.bg-light {
    background-color: lightgrey !important;
}

/* Sliding Animations */
.slideUp {
    transform: translate(0, 100px);
}

.slideLeft {
    transform: translate(500px, 0px);
}

.slideRight {
    transform: translate(-500px, 0px);
}


/* Expirement */

.left-right, .top_bottom{
    width: 100%;
}

.left-right{
    animation: left_to_right 1s ease;
}

.top_bottom{
    animation: top_bottom 1.5s ease;
}

@keyframes top_bottom {
    from {
        margin-top: -50%;
    }
    to {
        margin-top: 0%;
    }
}

@keyframes left_to_right {
    from {
        margin-left: -8%;
    }
    to {
        margin-left: 0;
    }
}

/* About Page */
.front-section {
    height: 100vh;
}

.front-section .nav-item{
    font-size: 20px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.front h1 {
    font-size: 100px;
    margin: 0;
}

.front h2 {
    margin: 0;
    font-size: 50px;
}

.front h3 {
    margin: 0;
}

/* About Section */
.hide {
  opacity: 0;
  transition: all 2s;
}

.hide.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.about-section {
    min-height: 100vh;   
}

.about {
    margin: auto;
    padding: 0% 25%;
}

.about h1 {
    font-size: 80px;
}

.about p {
    font-size: 30px;
}


/* Projects Section */
.project-section {
    margin-top: -100px;
    min-height: 100vh;
    /* background-color: lightblue; */
}

.project-div {
    text-align: center;
    padding-bottom: 50px;
}

.project-div h1 {
    font-size: 80px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.pic-container {
    width: 450px;
    height: 450px;
    margin: 40px;
    position: relative;
    display: inline-block;
    justify-content: center;
}

.pic-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.pic-overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
}

.pic-container:hover .pic-overlay {
    opacity: .85;
}

.text {
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    width: 80%;
    height: 30%;
    font-size: 40px;
    text-align: center;
}

.overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
}

.pic-container:hover .overlay-fade {
    width: 100%;
}

.pic-container img {  
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    transition-duration: .25s;
}

.pic-container:hover img{
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 0 0px rgba(0,0,0,0.5);
    transition-duration: .25s;
}

/* Modal Section */
.modal {
    background-color: transparent;
    border-radius: 100px;
}

.modal-content {
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    border-radius: 100px !important; 
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.modal-body {
    display: flexbox;
}

.modal-pic {
    display: flex;
    padding-top: 10px;
}

.modal-pic h5{
    padding-left: 10px;
}

.modal-pic img {
    max-width: 40%;
}


/* Contact Me Section */
.contact-section {
    min-height: 60vh;
}

.contact-div {
    padding-top: 100px;
}

.contact-div h1 {
    font-size: 80px;
    text-align: center;
}

.media {
    padding-top: 80px;
    display: flexbox;
    justify-content: space-around;
}

.contact {
    position: relative;
    text-align: center;
}

.contact-btn {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    outline: none;
}

.contact-btn:focus {
    border: none;
    outline: none;
}

.media img {
    width: 40%;
}

.hidden-text {
    display: none;
}