* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

body {
    overflow-x: hidden;
}
/* Navbar Stuff */
.navbar-brand {
    padding-left: 30px;
    padding-top: 15px;
    font-size: 35px;
}

.bg-light {
    background-color: lightgrey !important;
}

/* Sliding Animations */
.slideUp {
    transform: translate(0, 100px);
}

.slideLeft {
    transform: translate(500px, 0px);
}

.slideRight {
    transform: translate(-500px, 0px);
}


/* Expirement */

.left-right, .top_bottom{
    width: 100%;
}

.left-right{
    animation: left_to_right 1s ease;
}

.top_bottom{
    animation: top_bottom 1.5s ease;
}

@keyframes top_bottom {
    from {
        margin-top: -50%;
    }
    to {
        margin-top: 0%;
    }
}

@keyframes left_to_right {
    from {
        margin-left: -8%;
    }
    to {
        margin-left: 0;
    }
}

/* About Page */
.front-section {
    height: 100vh;
}

.front-section .nav-item{
    font-size: 20px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.front h1 {
    font-size: 100px;
    margin: 0;
}

.front h2 {
    margin: 0;
    font-size: 50px;
}

.front h3 {
    margin: 0;
}

/* About Section */
.hide {
  opacity: 0;
  transition: all 2s;
}



.hide.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.about-section {
    min-height: 100vh;
    
}

.about {
    margin: auto;
    padding: 0% 25%;
}

.about h1 {
    font-size: 80px;
}

.about p {
    font-size: 30px;
}


/* Projects Section */
.project-section {
    min-height: 100vh;
    /* background-color: lightblue; */
}

.project-div {
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.project-div h1 {
    font-size: 80px;
}

.project {
    background-color: red;
    margin: auto;
    width: 70vw;
    display: flex;
    padding: 50px;
}

.project img {
    width: 30%;
}

.p1 {
    justify-content: flex-start;
}

.p2 {
    justify-content: flex-end;
}